{% extends "base.html" %}
{% block content %}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};



</script>
<div class="container form-width">
    <h1 class="text-center"><i class="fa fa-list-alt"></i> {{folder_name}} Tasks </h1>
    {% if message is defined %}
    <h4 class="text-center"><span class="label label-danger">{{ message }}</span></h4>
    {% endif %}
    <h4 class="text-center"><span id="msg" class="label label-warning"></span></h4>
</div>
<ol class="breadcrumb">
    <li><a href="/user/folders">Folders</a></li>
    <li><a href="/user/folder/tasks/{{folder_id}}">{{folder_name}}</a></li>
    <li class="active">tasks</li>
</ol>
{% if folder_id %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">
            <a href="/user/folder/task/add/{{folder_id}}">
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add Task</button>
            </a>
            <button type="button" class="btn btn-danger btn" data-toggle="modal" data-target="#deletionModal"><i
                    class="fa fa-trash"></i>
                Delete this folder
            </button>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deletionModalLabel">Deletion confirmation</h4>
            </div>
            <div class="modal-body">
                You are about to delete this whole thing; are you sure?
            </div>
            <div class="modal-footer">
                <a type="button" class="label label-default" data-dismiss="modal">I changed my mind, cancel deletion</a>
                <a class="label label-danger" href="/user/folder/delete/{{folder_id}}">I'am sure delete this folder</a>

            </div>
        </div>
    </div>
</div>
{% endif %}

{% if tasks|length > 0 %}
<div class="col-md-12">
    <div class="well">
        {% for task in tasks | sort(attribute="due_date") %}

        {% if task.is_done == false %}
        <div class="row">
            <span role="button" id="{{task._id}}" class="inline-display task glyphicon glyphicon-unchecked "></span>

            <a class="inline-display" id="a_{{task._id}}" href="/user/folder/task/detail/{{task._id}}"><h4>{{ task.title
                }}</h4></a>
            <a href="/user/folder/task/remove/{{task._id}}"><i class="fa fa-trash-o"></i></a>

            <p class="inline-display"></p>
            <p> due date: <i class="fa fa-clock-o"></i> {{ task.due_date.strftime('%Y-%m-%d @
                %H:%M') }}</p>
        </div>
        <hr class="marginRow">
        {% endif%}


        {% endfor %}
    </div>
</div>
{% set show_heading  = true %}
<div class="col-md-12">
    <div class="well">
        {% for task in tasks | sort(attribute="due_date") %}
        {% if task.is_done == true %}
        {% if show_heading == true %}
        <h2>Finished Tasks</h2>
        {% set show_heading = false %}
        {% endif %}
        <div class="row">
            <span role="button" id="{{task._id}}" class="inline-display task glyphicon glyphicon-check"></span>

            <a id="a_{{task._id}}" href="/user/folder/task/detail/{{task._id}}"
               class="inline-display strikethrough color-grey"><h4
                    id="task-title">{{ task.title }}</h4></a>

            <a href="/user/folder/task/remove/{{task._id}}"><i class="fa fa-trash-o"></i></a>

            <p class="inline-display" id="task-date"></p>
            <p> Due date: <i class="fa fa-clock-o"></i> {{
                task.due_date.strftime('%Y-%m-%d @ %H:%M') }}</p>

        </div>
        <hr class="marginRow">
        {% endif%}


        {% endfor %}
    </div>
</div>
{% else %}
<h4>You did not add any tasks yet; Let's get productive. add one now...</h4>
{% endif %}


{% endblock %}
<script type=text/javascript>

</script>