{% extends "base.html" %}
{% block content %}
<div class="container form-width">
    <h1 class="text-center"> Tasks </h1>
    {% if message is defined %}
    <h4 class="text-center"><span class="label label-danger">{{ message }}</span></h4>
    {% endif %}
</div>
{% if folder_id %}
<div class="col-md-12">

    <button type="button" class="btn btn-danger btn" data-toggle="modal" data-target="#myModal">
  Delete this folder
</button>
    <a href="/user/folder/task/add/{{folder_id}}">
        <button class="btn btn-success">Add Task</button>
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deletion confirmation</h4>
      </div>
      <div class="modal-body">
        You are about to delete this whole thing; are you sure?
      </div>
      <div class="modal-footer">
        <a type="button" class="label label-default" data-dismiss="modal">I changed my mind, cancel deletion</a>
        <a class="label label-danger" href="/user/folder/delete/{{folder_id}}">I'am sure delete this folder</a>

      </div>
    </div>
  </div>
</div>
{% endif %}

{% if tasks|length > 0 %}
{% for task in tasks %}
<div class="col-md-12">
    <a href="/user/folder/task/detail/{{task._id}}"><h3>{{ task.title }}</h3></a>
    <p>Due Date: {{ task.due_date }}</p>
    <hr>
</div>


{% endfor %}
{% else %}
<h4>You did not add any tasks yet; Let get productive add one now...</h4>
{% endif %}


{% endblock %}
